.toolbar {
  width: 100%;
  border: 1px solid var(--boder-color);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.toolbar-button {
  background-color: var(--seconday-color);
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.toolbar-button:hover {
  background-color: var(--hover-color);
}
