.ArticleParent {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
}

pre {
  display: none;
}

figure[typeof~='mw:File/Thumb'].mw-halign-right, figure[typeof~='mw:File/Frame'].mw-halign-right {
  margin: 0.5em 0 1.3em 1.4em;
  clear: right;
  float: right;
}