.page-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.page-title {
  font-size: 3rem;
  font-weight: bold;
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
}
/* Styling for messages */
.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 1rem;
}

.message-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.message-username {
  font-weight: bold;
  margin-right: 1rem;
}
.message-timestamp {
  font-size: 0.8rem;
  color: #6e6e6e;
}
.message {
  border-left: 1px solid #ccc;
  padding: 0.5rem;
  margin: auto;
  margin-bottom: 1rem;
  width: 75%;
}
.message p {
  margin: 0;
}

.block {
  height: 192px;
}

/* Styling for input box */
.input-container {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 75%;
  margin: auto;
  left: 12.5%;
}
.input-container textarea {
  background-color: var(--primary-color);
  border: 1px solid var(--boder-color);
  flex-grow: 1;
  height: 10rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  resize: none;
}
.input-container button {
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.warning-message {
  width: 300px;
  color: var(--seconday-color);
}