.container {
  margin: auto;
  position: relative;
  margin-top: 100px;
  width: 90%;
}

.content-container {
  overflow: hidden;
  border: 1px solid var(--boder-color);
  border-radius: 0 0 10px 10px;
}

.content-editable {
  padding: 10px;
  min-height: 100px;
  width: 100%;
  height: 70vh;
  z-index: 10;
  overflow: auto;
}

.content-editable:focus {
  outline: none;
}

.placeholder {
  position: absolute;
  top: 0;
  margin: 10px 0 0 10px;
}

.modalIsOpen {
  filter: blur(5px);
}

.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.submit-button {
  background-color: var(--seconday-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: var(--hover-color);
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: var(--primary-color);
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  width: 600px;
}

.comment-textarea {
  height: 125px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 10px;
  resize: none;
}

.buttons-container {
  display: flex;
}

.cancel-button {
  border: 1px solid var(--seconday-color);
  margin: 20px 0 20px 10px;
}

.cancel-button:hover {
  border: 1px solid var(--hover-color);
}

.modal-warning {
  color: var(--seconday-color);
  text-align: center;
}
