.ArticleParent {
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

pre {
  /* display: none; */
}

.title {
  color: white;
  font-size: 2em;
  margin-bottom: 0.25em;
  padding: 0;
  border-bottom: 1px solid #a2a9b1;
  overflow: hidden;
  line-height: 1.375;
}
figure {
  margin: 0.5em 0 1.3em 1.4em;
  clear: right;
  float: right;
  font-size: smaller;
  width: 220px;
}

a {
  color: #8288fa !important;
  text-decoration: inherit;
}

h2 {
  color: #FFF !important;
}