figure {
  clear: right;
  float: right;
  margin: 0 0 1em 1.25em;
  font-size: smaller;
}

a {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
}

b {
  font-weight: 900;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  /*min-width: 628px;*/
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.resizable-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 48px;
  max-width: 1236px;
  position: relative;
  transition: width .3s,max-width .3s;
  width: 85%;
}

.community-header-wrapper {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: flex-end;
}

.fandom-community-header {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  width: 100%;
}

.fandom-community-header__image {
  grid-row: 1/3;
  margin-right: 18px;
}

.fandom-community-header__image img {
  display: block;
  max-height: 100px;
  max-width: 250px;
  object-fit: scale-down;
  object-position: bottom;
  width: auto;
}

.fandom-community-header__top-container {
  align-items: flex-end;
  display: flex;
}

.fandom-community-header__community-name-wrapper {
  align-items: center;
  display: flex;
}

.fandom-community-header__community-name {
  font-size: 24px;
  font-weight: 500;
  margin-right: 9px;
  text-decoration: none;
}

.fandom-community-header a {
  color: #fbdb39;
  font-weight: 700;
}

.fandom-community-header__local-navigation {
  padding: 0;
}

.fandom-community-header__local-navigation .wds-tabs {
  grid-column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(2ch,max-content));
  width: 100%;
}

.wds-tabs {
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  scrollbar-width: none;
}

.page-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  max-width: 1236px;
  position: relative;
  width: 100%;
}

.edit-button {
  border-radius: 3px;
  color: #000;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  width: 0;
  height: 20px;
}

.edit-button:hover {
  cursor: pointer;
}

.page {
  margin-top: 12px;
  position: relative;
}

.page .page__main {
  height: 100%;
}

.page__main {
  background-color: #353a3c;
  border-radius: 3px;
  min-height: 480px;
  padding: 24px 36px;
  position: relative;
}

.page-header {
  margin-bottom: 20px;
}

.page-header__title {
  color: white;
  font-size: 2.25em;
  font-weight: 300;
  letter-spacing: .25px;
  line-height: 1.25;
  overflow-wrap: break-word;
  word-break: break-word;
}

.page-content {
  font-size: 1em;
}

.page-content h2 {
  font-size: 1.5em;
  font-weight: 700;
  overflow: auto;
  padding: 6px 0;
  border-bottom: 1px solid var(--boder-color);
}

.loading-text {
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
}

.loading-text span {
  display: inline-block;
  animation: wave 1s infinite linear;
  animation-delay: calc(0.1s * var(--index));
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}

.toc {
  background-color: transparent;
  border: 1px solid var(--boder-color);
  border-radius: 3px;
  font-size: 100%;
  margin: 24px auto 24px 0;
  padding: 0;
  display: table;
}

.toc .toctitle {
  align-items: center;
  border-bottom: 1px solid var(--boder-color);
  display: flex;
  justify-content: space-between;
  line-height: 1;
  padding: 12px;
  direction: ltr;
  text-align: center;
}

.toc .toctitle h2 {
  align-items: center;
  border: 0;
  display: flex;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

.toc ul {
  padding: 0 12px 0 0;
  max-width: 400px;
}
.toc ul li {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  text-align: left;
}

.toc ul li a {
  border-radius: 3px;
  color: #e6e6e6;
  display: block;
  line-height: 1.75;
  padding: 2px 6px;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: background-color,color;
}

.toc ul li a .tocnumber::after {
  content: ".";
}

.toc ul li a .tocnumber {
  color: rgba(230, 230, 230,.6);
  transition-duration: .3s;
  transition-property: color;
}

.tocnumber, .toctext {
  display: table-cell;
}

.tocnumber {
  padding-left: 0;
  padding-right: 0.5em;
}

.page-side-tools__wrapper {
  height: 100%;
  left: 0;
  padding-bottom: 430px;
  position: absolute;
  top: 18px;
  transform: translateX(-50%);
  z-index: 200;
}

.page-side-tools {
  position: sticky;
  top: 58px;
}

.page-side-tool {
  align-items: center;
  background: #636262;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
  color: var(--link-color);
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: center;
  margin-bottom: 9px;
  outline: none;
  transition: color .3s;
  width: 36px;
  padding: 0;
}