@import url('https://use.typekit.net/qzu8qnj.css');

:root {
  font-family: "museo-sans", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  --primary-color: #171D21;
  --seconday-color: #A6212C;
  --hover-color: #E82F3F;
  --action-color: #00BCB7;
  --light-gray: #3A373C;
  --link-color: #65C1FF;
  --boder-color: #686055;

  --link-decoration: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
  line-height: 1.25;
  margin: 18px 0 9px;
  overflow-wrap: break-word;
}

.page-content p, .page-content section {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.75;
  margin: 0 0 24px;
  overflow-wrap: break-word;
}

.page-content p + p {
  margin-top: 24px;
}

.page-content sup, .mw-ref {
  font-size: 0.75em;
  line-height: 0;
  vertical-align: super;
  unicode-bidi: isolate;
  font-weight: 100;
  font-style: normal;
}

.page-content ul {
  list-style-type: disc;
}

.page-content ol, .page-content ul {
  margin: 6px 0 18px 36px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  border: 0;
}

ol, ul {
  list-style-image: none;
  padding: 0;
  border: 0;
}

button {
  border-radius: 8px;
  border: 1px solid;
  height: 2.5em;
  display: flex;
  align-items: center;
  padding: 0.6em 1.2em;
  font-size: 1.125em;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--primary-color);
  border-color: var(--seconday-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--hover-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--hover-color);
  }
  button {
    background-color: #f9f9f9;
  }
}
