@import url('https://use.typekit.net/qzu8qnj.css');

:root {
  font-family: "museo-sans", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  --primary-color: #171D21;
  --seconday-color: #A6212C;
  --hover-color: #a12029;
  --action-color: #00BCB7;
  --light-gray: #3A373C;
  --link-color: #65C1FF;
  --boder-color: #686055;

  --link-decoration: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
  line-height: 1.25;
  margin: 18px 0 9px;
  overflow-wrap: break-word;
}

.page-content p, .page-content section {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.75;
  margin: 0 0 24px;
  overflow-wrap: break-word;
}

.page-content p + p {
  margin-top: 24px;
}

.page-content sup, .mw-ref {
  font-size: 0.75em;
  line-height: 0;
  vertical-align: super;
  unicode-bidi: isolate;
  font-weight: 100;
  font-style: normal;
}

.page-content ul {
  list-style-type: none;
}

.page-content ol, .page-content ul {
  margin: 6px 0 18px 36px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  border: 0;
}

ol, ul {
  list-style-image: none;
  padding: 0;
  border: 0;
}

button {
  border-radius: 8px;
  border: 1px solid;
  height: 2.5em;
  display: flex;
  align-items: center;
  padding: 0.6em 1.2em;
  font-size: 1.125em;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--primary-color);
  border-color: var(--seconday-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--hover-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--hover-color);
  }
  button {
    background-color: #f9f9f9;
  }
}

.ionicon {
  fill: currentColor;
  height: 24px;
  min-width: 24px;
  width: 24px;
}

.ionicon-small {
  height: 18px;
  min-width: 18px;
  width: 18px;
}

footer {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .1fr 1fr .2fr;
  grid-template-areas:
          "area1 area2 area3"
          "area4 menu area6"
          "end end end";
  gap: 1em;
  min-height: 33vh;
  overflow-wrap: normal;
}

textarea {
  font-family: "museo-sans", sans-serif!important;
  font-weight: 300;
  font-size: 1.2em;
}

textarea:focus {
  outline: none;
}

.logo__footer {
  grid-area: area4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.logo-image__footer {
  width: 20em;
}

.footer-menu {
  grid-area: menu;
}

.menu-list__footer a {
  color: white;

}

li::marker {
  content: none;
}

.foot {
  grid-area: end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: #A8262D;
}

.spoil-level__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spoil-level__text {
  font-weight: 700;
  font-size: 1.2em;
}

.spoil-level__input {
  margin-left: 1em;
  font-weight: 700;
  font-size: 1em;
  border: none;
  background-color: transparent;
  max-width: 3.3em;
}

.spoil-level__save {
  padding: .2em 1em;
  margin-left: 1em;
  border: 1px solid #ffffff;
  border-radius: 24px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.spoil-level__save:hover {
  color: black;
  background-color: white;
}

input::placeholder {
  color: #e0e0e0;
}